<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Blockchain Dashboard</title>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        body { font-family: Arial; margin: 30px; background: #f2f2f2; }
        #log { background: white; padding: 10px; border-radius: 6px; margin-bottom: 20px; }
    </style>
</head>

<body>

<h1>⛓️ Blockchain Real-Time Dashboard</h1>

<div id="log"></div>

<canvas id="chart" width="800" height="350"></canvas>

<script>
    const socket = io();
    const logDiv = document.getElementById("log");

    let labels = [];
    let difficultyData = [];
    let blockTimeData = [];

    // Chart setup
    const ctx = document.getElementById('chart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [
                {
                    label: "Difficulty",
                    data: difficultyData,
                    borderColor: "blue"
                },
                {
                    label: "Block Time (s)",
                    data: blockTimeData,
                    borderColor: "red"
                }
            ]
        },
        options: {
            responsive: false,
            animation: false,
            scales: { y: { beginAtZero: true } }
        }
    });

    // Receive block event
    socket.on("new_block", data => {
        logDiv.innerHTML =
            `<b>Block #${data.height}</b> — Miner: <b>${data.miner}</b> 
             | Difficulty: ${data.difficulty} 
             | Time: ${data.blockTime}s<br>` + logDiv.innerHTML;

        labels.push(data.height);
        difficultyData.push(data.difficulty);
        blockTimeData.push(data.blockTime);

        chart.update();
    });

    socket.on("end", msg => {
        logDiv.innerHTML = "<h2>Mining finished</h2>" + logDiv.innerHTML;
    });

</script>

</body>
</html>
